.btn-ir-productos {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
  }
  .btn-ir-productos:hover {
    background-color: #218838;
  }

 